<div class="page-container">
    <div class="categories-container">
        <div class="categories-container-header">
            <div class="categories-search">
                <mat-form-field appearance="outline">
                    <mat-label>Search categorie</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon class="mat-icon" matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="categories-actions">
                <button color="accent" mat-raised-button (click)="goToCategory(null, 'add')">
                    Add categorie
                </button>
            </div>
        </div>
        <div class="categories-container-content">
            <div class="categoryitem" *ngFor="let category of categories"
                (click)="goToCategory(category.id, 'products')">
                <mat-card class="category-card">
                    <img mat-card-image [src]="category.imgSrc" alt="logo">
                    <mat-card-content>
                        <div class="category-name">{{category.name}}</div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="mat-card-footer">
                            <button mat-mini-fab color="accent" [matTooltip]="'Edit'"
                                (click)="goToCategory(category.id, 'edit')">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>