.categories-container {
    width: 80%;
    padding: 40px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
    .categories-container-header {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .categories-container-content {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        .category-item {
            cursor: pointer;
            width: 20%;
            min-height: 250px;
            min-width: 250px;
            .category-card {
                img {
                    max-height: 200px;
                    min-height: 200px;
                    min-width: 100%;
                    object-fit: cover;
                }
                .category-name {
                    font-size: 15px;
                    text-align: center;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }

    .categories-container-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 1288px) {
    .category-item{
        width: 30% !important;
    }
}

@media only screen and (max-width: 963px) {
    .category-item{
        width: 46% !important;
    }
}

@media only screen and (max-width: 527px) {
    .category-item{
        width: 90% !important;
        margin: auto;
    }
}

@media only screen and (max-width: 450px) {
    .categories-container-header{
       flex-direction: column    !important;
       justify-content: center !important;
       align-items: center !important;
    }
}

