.product-container {
    width: 80%;
    padding: 40px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
    .product-visualser{
        width: 50%;
        max-width: 50%;
        img{
            border: 2px solid;  
            max-width: 100%;
        }
    }

    .product-details{
        width: 50%;
        .product-infos{
            .product-info-item {
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 500;
                .mat-icon{
                    position: relative;
                    top: 6px;
                    cursor: default;
                }
            }   
        }
        .product-choices{
            .info-mat-toggle{
                margin-bottom: 10px;
            }
        }
        .images{
            .images-content{
              display: flex;
              flex-direction: row;
              gap: 5px;
              justify-content: flex-start; 
              flex-wrap: wrap;
              .image-item{
                cursor: pointer;
              }
            }
        }
        .mat-divider{
            margin: 15px 0;
        }
        .section-name{
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            margin: 10px 0;
        }
        .btns-section{
            display: flex;
            flex-direction: row;
            justify-content: center;    
        }
    }
}

@media only screen and (max-width: 963px) {
    .product-container{
        flex-direction: column !important;
    }
    .product-visualser{
        width: 100% !important;
        max-width: 100% !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
            max-height: 250px !important;
            min-width: 80% !important;
            object-fit: scale-down;
            margin: auto;
        }
    }
    .product-details{
        width: 100% !important;
    }
}
