/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    width: 100%;
    height: calc(100% - 8px);
    margin: -8px 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgba(230, 230, 230, 0.583);
}

.mat-icon {
    cursor: pointer;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.mat-card-content{
    margin-bottom: unset !important;
}

.page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}